[Desktop Entry]
Name=Friccoin Core
Comment=Connect to the Friccoin P2P Network
Comment[de]=Verbinde mit dem Friccoin peer-to-peer Netzwerk
Comment[fr]=Friccoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Friccoin, eşten eşe kriptografik sanal para birimi
Exec=friccoin-qt %u
Terminal=false
Type=Application
Icon=friccoin128
MimeType=x-scheme-handler/friccoin;
Categories=Office;Finance;
