[Desktop Entry]
Name=Bonkcoin Core
Comment=Connect to the Bonkcoin P2P Network
Comment[de]=Verbinde mit dem Bonkcoin peer-to-peer Netzwerk
Comment[fr]=Bonkcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bonkcoin, eşten eşe kriptografik sanal para birimi
Exec=friccoin-qt %u
Terminal=false
Type=Application
Icon=friccoin128
MimeType=x-scheme-handler/friccoin;
Categories=Office;Finance;
